#gemtd {
    display: flex;
    flex-direction: column;
    overflow: hidden; 

}

#gemtd * {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.t-tablero {
    min-width: 1.110px;
    min-height: 1.110px;
    /* margin:  10% 32% 18% 32%; */
    background-color: rgb(243, 19, 190);
    border-style: groove;
    border-width: 15px;
    user-select: none;
    position: absolute;
    display: flex;
    flex-direction: column;

    margin-left: 30px;
    margin-top: 30px;
}


.t-row {
    min-height: 30px;
    position: relative;
    margin: unset;
    padding-inline-start: unset;
    display: flex;
    list-style: none;
    flex-direction: row;
}

.t-tile  {
    min-width: 30px;
    min-height: 30px;
    background-color: rgb(124, 176, 143);
    list-style: none;
}

.t-tile *{
    background-repeat: no-repeat;
}

.t-buildable:hover {
    box-shadow: inset 0px 0px 4px 2px rgba(186, 186, 186, 0.8)
                , 0px 0px 3px 2px rgba(186, 186, 186, 0.8);
}

.t-checked {
    background-color:  rgb(44, 71, 54);
}

.t-stone {
    background-image: url( /assets/stone.svg );
    scale: 1.2;
    padding-bottom: 10px;
    z-index:10;
    position: relative;
    height: 100%;
}

.t-steps {
    background-color:  rgb(205, 226, 44);
}

.t-flag {
    background-color:  rgb(225, 40, 40);
}


.t-1-topaz, .t-2-topaz, .t-3-topaz, .t-4-topaz, .t-5-topaz, .t-6-topaz {
    background-color:  rgb(193, 140, 6);
}

.t-1-opal, .t-2-opal, .t-3-opal, .t-4-opal, .t-5-opal, .t-6-opal{
    background-color:  rgb(21, 7, 47);
}

.t-1-emerald, .t-2-emerald, .t-3-emerald, .t-4-emerald, .t-5-emerald, .t-6-emerald {
    background-image: url( /assets/emerald.svg );
    height: 100%;
    scale: 1.5;
    margin-bottom: 3px;

}

.t-gem {
    z-index:10;
    position: relative;
    height: 100%;
    /* box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6); */
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
    margin-bottom: 13px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
        rotate: 1deg;
	}
	50% {
		transform: translatey(-3px);
        rotate: -2deg;
	}
	100% {
		transform: translatey(0px);
        rotate: 1deg;
	}
}


.t-1-sapphire, .t-2-sapphire, .t-3-sapphire, .t-4-sapphire, .t-5-sapphire, .t-6-sapphire {
    background-color:  rgb(118, 208, 213);
}

.t-1-ruby, .t-2-ruby, .t-3-ruby, .t-4-ruby, .t-5-ruby, .t-6-ruby  {
    background-color:  rgb(67, 13, 5);
}

.t-1-diamond, .t-2-diamond, .t-3-diamond, .t-4-diamond, .t-5-diamond, .t-6-diamond {
    background-color:  rgb(218, 218, 218);
}

.t-1-amethyst, .t-2-amethyst, .t-3-amethyst, .t-4-amethyst, .t-5-amethyst, .t-6-amethyst {
    background-color:  rgb(89, 93, 16);
}

.t-1-aquamarine, .t-2-aquamarine, .t-3-aquamarine, .t-4-aquamarine, .t-5-aquamarine, .t-6-aquamarine{
    background-color:  rgb(191, 27, 194);
}


/* 
.t-i{
    background-image: url( /assets/casilla-i.svg );
} */

.t-start, .t-resume {
    height: 70px;
    margin-top: 50px;
    width: 180px;
    margin-left: 1200px;
    z-index: 30;
}

.t-pause {
    width: 80px;
    height: 50px;
    margin-left: 500px;
    z-index: 30;
    margin-top: 20px;
}

.t-slider {
    margin-left: 1200px;
}


.t-info {
    overflow:visible;
    background:none !important;
    position: relative;

    left: 1300px;
}